.mat-elevation-z8 {
  width: 100%;
}

th,
td {
  overflow: hidden;
  width: 25%;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spinner {
  position: absolute;
  height: 100px;
  width: 100px;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}

.choose {
  padding: 20px;
}

.color{
  transition: all 0.3s ease;
}

.color:hover{
  background: #FF569A;
}