<div class="container">
  <mat-toolbar color="primary" class="title">
    <span>LOGGED OUT</span>
  </mat-toolbar>
  <mat-card class="example-card">
    <mat-card-content>
      <form class="form-container">
        <img
          src="https://img.taste.com.au/UCkD8VfP/w1200-h630-cfill/taste/2016/11/chicken-and-prosciutto-parmigiana-79468-1.jpeg"
        />

        <div class="buttonsBackground">
          <button
            mat-raised-button
            color="primary"
            type="submit"
            style="margin: 10px auto; width: 20%;"
            (click)="login()"
            class="button"
          >
            LOGIN
          </button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
